<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite">
    <test name="ToolsQA">

        <classes>
            <class name="org.solvd.test.schooltest.ClassRoomServiceTest">
                <methods>
                    <include name="testGetTeacherById"/>
                </methods>
            </class>

            <class name="org.solvd.test.schooltest.SchoolServiceTest">
                <methods>
                    <include name="testGetClassRoomById"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>